#list {
	text-align: center;
	font-family: calibri, arial;
	width: 800px;
}

div.rows {
	text-align: center;
	float: left;
	width: 150px;
	min-height: 150px;
	border: 1px solid #93B4D9;
	padding: 5px;
	background: #CADEF4;
	font-family: arial;
	font-size: 14px;
	margin: 15px;
}

input[type="checkbox"] {
	float: left;
}

input[type="submit"] {
	float: right;
}